<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>publicado: 23.11.2023, 11:26</p>
                <h2><a href="">Meu primeiro post</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur, nisi tempore impedit reprehenderit autem deserunt ut dolorem praesentium delectus illum tenetur natus unde commodi ullam et eligendi est quis.</p>
            </div>

            <div>  
                <p>publicado: 23.11.2023, 11:26</p>
                <h2><a href="">Meu segundo post</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora itaque similique sit deleniti laborum harum tempore omnis repellat fugit incidunt quod, assumenda officia perferendis architecto at nisi laboriosam vero saepe?</p>
            </div>
        {% endfor %}

        
    </body>
</html>