<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>Publicado: 23.11.2023, 11:24</p>
            <h2><a href="">My frist post</a></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, accusamus? Suscipit nulla nostrum repudiandae incidunt necessitatibus! Tempore et, consectetur animi debitis cupiditate enim repellat, fugiat non, quasi dolores aperiam perferendis.</p>
        </div>

        <div>
            <p>Publicado: 23.11.2023, 11:26</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, earum. Vero sed consectetur explicabo ipsum provident. Molestias aspernatur quia modi reprehenderit fuga minus sint facere eligendi repellat aut, minima in.</p>
        </div>
    </body>
</html>